

.features {
    margin-top: -100px;
    padding: 0 100px;
}

.features .features-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.features .features-container .features-content-card {
    padding: 30px;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    color: #f9f4f9;
}

.features .features-container .features-content-card.light-shade {
    background: #6bb6eb;
}

.features .features-container .features-content-card.base-color {
    background: #0584c1;
}

.features .features-container .features-content-card.dark-shade {
    background: #036a9b;
}

.features .features-container .features-content-card .features-icon {
    font-size: 30px;
    color: var(--main-color);
}

.features .features-container .features-content-card .details h3 {
    margin-bottom: 10px;
    font-family: var(--single-text);
    font-size: 16px;
}

.features .features-container .features-content-card .details p {
    margin-bottom: 10x;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 200;
}


/* -- Responsice Source Code -- */
@media only screen and (max-width: 1000px) {
    .features {
        padding: 0 50px;
    }

    .features .features-container .features-content-card {
        width: 50%;
        gap: 25px;
    }

    .features .features-container .features-content-card.light-shade {
        background: #6bb6eb;
    }
    
    .features .features-container .features-content-card.base-color.responsive {
        background: #036a9b;
    }
    
    .features .features-container .features-content-card.dark-shade.responsive {
        background: #0584c1;
    }
}


@media only screen and (max-width: 768px) {
    .features {
        padding: 0 30px;
    }

    .features .features-container .features-content-card {
        gap: 20px;
    }

    .features .features-container .features-content-card .details h3 {
        font-size: 14px;
    }
    
    .features .features-container .features-content-card .details p {
       font-size: 12px;
    }
}


@media only screen and (max-width: 600px) {
    .features {
        padding: 0 15px;
    }

    .features .features-container .features-content-card {
        width: 100%;
    }

    .features .features-container .features-content-card .details p {
        font-size: 14px;
    }

    .features .features-container .features-content-card.base-color.responsive {
        background: #0584c1;
    }
    
    .features .features-container .features-content-card.dark-shade.responsive {
        background: #036a9b;
    }
}


@media only screen and (max-width: 480px) {
    .features {
        margin-top: 0;
        padding: 0;
    }

    .features .features-container .features-content-card {
        padding: 30px 5px;
    }
}